fsh-generated/
input/Xresources
input/images/Thumbs.db
input-cache
temp/
template/
input-cache/
output/
output_2/
_genonce.sh
_genonce.bat
_gencontinuous.bat
_gencontinuous.sh
_updatePublisher.bat
_updatePublisher.sh
